In [2]:
#Task1-Q1
me="This is hello world"
print(me, "- I am the first program.")

This is hello world - I am the first program.

In [11]:
#Task1-Q2
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=",")
else:
    print("End of list")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,End of list

In [19]:
#Task1-Q3
fname=input("Please enter your first name: ")
lname=input("Please enter your last name: ")

print("Your name in reverse order is:")
print(fname[::-1],lname[::-1])

Please enter your first name: Sudhanshu
Please enter your last name: Kumar
Your name in reverse order is:
uhsnahduS ramuK

In [30]:
#Task1-Q4
import math
dia=12
vol=(4/3)*math.pi*(dia/2)**3
print("The volume of a sphere with diameter",dia,"cm is :",round(vol,2),"cm3")

The volume of a sphere with diameter 12 cm is : 904.78 cm3

In [43]:
#Task2-Q1
numbers=input("Please enter sequence of comma-separated numbers: ")
num_list=[]
for i in numbers.split(','):
    num_list.append(int(i))
print(num_list)

Please enter sequence of comma-separated numbers: 1,2,3,4,5,6,7,8
[1, 2, 3, 4, 5, 6, 7, 8]

In [83]:
#Task2-Q2 - using nested for loop
a="*"
for i in range(5):
    for j in range(i):
        print(a,end="")
    print(a)
for k in range(i,0,-1):
    for l in range(k):
        print(a,end="")
    print()

*
**
***
****
*****
****
***
**
*

In [89]:
#Task2-Q3
word=input("Please enter your desirable word: ")

print("Your word in reverse is:", word[::-1])

Please enter your desirable word: AcadGild
Your word in reverse is: dliGdacA

In [122]:
#Task2-Q4
sentence="WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
sen_format="WE, THE PEOPLE OF INDIA,{0}having solemnly resolved to constitute India into a SOVEREIGN,!{1}SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{1}and to secure to all its citizens."

print(sentence)
print("\n\nThe formatted sentence is shown below:\n")
print(sen_format.format("\n\t","\n\t\t"))

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens


The formatted sentence is shown below:

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN,!
		SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		and to secure to all its citizens.